.hidden {
    display: none;
}

#relatorio {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#relatorio h2 {
    color: #007acc;
    margin-top: 0;
}

#relatorio button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#relatorio button:hover {
    background-color: #005a99;
}
